html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #a6b4b4;
}

* {
    -webkit-box-sizing: border-box;
}

#app,
#settings {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    background: #2c2c2c;
}

.header {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(60, 63, 65);
    padding: 5px;
    border-bottom: solid 1px #545454;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#mainleft {
    width: 300px;
    background-color: rgb(60, 63, 65);
    padding: 10px;
    border-right: solid 1px #252729;
}

#mainright {
    width: 100%;
    display: flex;
    padding: 10px;
}

#logFrame {
    overflow-y: auto;
    width: 100%;
    color: #9ca8b2;
}

.lineLabelValue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.lineCheckBoxLabel {
    padding: 5px 0;
}

#footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(60, 63, 65);
    border-top: solid 1px #545454;
}

.hidden {
    display: none;
}

progress {
    width: 100%;
}

#progressContainer {
    width: 30%;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

li span {
    color: #f3bf69;
}

#logFrame ul {
    list-style-type: none;
    margin-left: 10px;
}

#portSettings {
    width: 240px;
    padding: 10px;
}

#appSettings {
    padding: 10px;
    flex: 1;
}

.slideInDown {
    -webkit-transform: translateY(100%);
}

#settings {
    top: -100%;
    transition:all 0.3s ease-in-out;
}

/* */

input[type=checkbox] {
    background-color: #666666;
}
input[type=checkbox] {
    font-size: 16px;
    position: relative;
    border: 1px solid #333434;
    margin: 0 10px 0 0;
    padding: 0;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    background: -webkit-linear-gradient(
        top, rgba(255,255,255,0.4), rgba(255,255,255,0.1)
    );
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
}

input[type=checkbox]:checked::after {
    position: absolute;
    content: '';
    left: 15%;
    top: -10%;
    height: 40%;
    width: 90%;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-box-shadow: -1px 1px 0 rgba(0,0,0,0.8);
    -webkit-transform: rotate(-45deg);
}

#fileName {
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    text-align: right;
}